@charset "UTF-8";
/*html {
    font-size : 80%;
    height: 100%;
    width: 100%;
    color: #333333;
}
@media only screen and (max-device-width: 320px){
    html {
        font-size: 40.5%;
    }
}
@media only screen and (max-device-width: 384px){
    html {
        font-size: 53%;
    }
}
@media only screen and (max-device-width: 481px){
    html {
        font-size: 71.75%;
    }
}
*/
*{margin:0;padding:0;}
ul li{list-style:none;}
img{border:none;width: 100%;vertical-align: bottom;display:block}
i,em{font-style: normal;}

body{margin: 0;padding: 0;color: #fff; font-size: 16px; font-family: "Microsoft YaHei";}
a{text-decoration: none;color: #333333}
.music{position: absolute;top: 2%;right: 5%;background: url('../../img/partner/music.png') no-repeat;/*width: 10%;*/width: 30px;height:30px;background-size:100% 100%;z-index: 100;border-style: none;}
/*.music{position: absolute;right: 2.34375%;top: 2.34375%;width: 7rem;height: 7rem;background: url('../img/music.png') no-repeat;background-size: 100% 100%;}*/
/*.mback{position: absolute;right: 12rem;top: 2.34375%;width: 7rem;}*/
.btn_base{width: 45%;/* height: 71.4px;*/ background-size: 100% 100%;}