@charset "UTF-8";
*{margin:0;padding:0;}
/*html{width: 100%;height: 100%;}*/
body{font-family:"微软雅黑";/*width: 100%;height: 100%;*/background-color: #FFC019;overflow: hidden;}
.container{position: relative;overflow: hidden;background: url(../../img/partner/bg.jpg) no-repeat;background-size: 100% 100%;z-index: 1;width:96%;height:auto;/*height: 100%;*/background-size:cover;padding: 2%;}
#music{position: absolute;top: 2%;right: 5%;/*background: url(../img/partner/music.png) no-repeat*/;width: 30px;height:30px;background-size:cover;z-index: 100;border-style: none;}
.container .bannerIMG{position: relative;text-align: center;margin: 43% auto 3%;width: 90%;padding: 0 5%;}
/*body{margin: 0;padding: 0;background:url(../img/partner/bg.jpg) no-repeat;background-size: 100% 100%;}*/
/*.text{text-align: center;margin-top: 35rem;}
.text img{margin-left: auto;margin-right: auto;width: 88%;}*/
.start{position: relative;width: 100%;height: 10rem;text-align: center;}
.start span{text-indent: -1rem;font-weight: bold;text-align: center;line-height: 10rem;font-size: 2.1rem;color: #ffffff;width: 12rem;height: 10rem;display:inline-block;background: url('../../img/partner/index_heart.png') no-repeat;background-size: 100% 100%;}
.start img{display:none; padding: 2.5rem 3rem;  width: 6rem; height: 5rem;}
.btn{margin-top: 4rem; margin-bottom: 3rem;}
.btnleft{margin-left:2rem; width: 37%}
.btnright{margin-right:2rem;position: relative;float: right;width: 37%}