/*recNew*/
.themeBox{
    width: 100%;
    background: url("../img/recommend/dyr1021002.jpg") no-repeat;
    background-size: 100% 100%;
    font-family: 'jianzhiyi';
}
.newT{
    width: 80%;
    margin: -1px 0 0 12%;
    padding: 3rem 0 2rem 0;
    /*text-align: center;*/
    color: #FFFFFF;
    font-size: 1.2rem;
}
.newP{
    width: 80%;
    margin: 0 0 0 12%;
    /*text-align: center;*/
    color: rgb(243 , 241 , 34);
    font-size: 1.7rem;
    padding-bottom: 3rem;
    line-height: 2.5rem;
}
.friend{
    width: 60%;
    height: 3rem;
    margin: 2rem auto 1rem auto;
    background: url("../img/recommend/an7.png") no-repeat;
    background-size: 100% 100%;
    text-align: center;
    line-height: 3rem;
    font-family: 'jianzhiyi';
    font-size: 1.2rem;
}
.check{
    width: 60%;
    height: 3rem;
    margin: 0 auto 1rem auto;
    background: url("../img/recommend/an8.png") no-repeat;
    background-size: 100% 100%;
    text-align: center;
    line-height: 3rem;
    font-family: 'jianzhiyi';
    font-size: 1.2rem;
}
.rule{
    width: 6rem;
    margin: auto;
    text-align: center;
    color: rgb(154 , 72 , 61);
    border-bottom: solid 1px rgb(154 , 72 , 61);
    font-family: 'jianzhiyi';
    font-size: 1.2rem;
    font-weight: bold;
}
#reward , #fansNum , #currentNum{
    color: #fe6601;
}
#myReward a{
    display: block;
    width: 100%;
    height: 100%;
    color: #000000;
}
#reward , #fansNum{
    font-family:"Microsoft YaHei", "Arial", "YouYuan", "Arial Bold";
}


/*活动规则*/
.conBox{
    position:fixed;
    top:0;
    left:0;
    z-index:2;
    width: 100%;
    height: 100%;
    background: rgb(165 , 194 , 210);
    padding: 0.5rem;
}
.conDiv{
    position: relative;
    width: 100%;
    height: 90%;
    background: url("../img/common/bg.png") no-repeat;
    background-size: 100% 100%;
    padding: 2rem 1.5rem 2rem 2rem;
}
.con{
    width: 100%;
    overflow-y: scroll;
    height: 100%;
}
.delete{
    text-align: right;
}
.delete img{
    height: 2rem;
}
section h3{
    color: #ffa300;
    font-weight: 100;
    line-height: 2rem;
    font-family: 'jianzhiyi';
}
section p{
    color: #FFFFFF;
    line-height: 1.8rem;
}