/*general start*/
body,p,blockquote,figure,hr,h1,h2,h3,h4,h5,h6,ul,menu,dir,ol,dl,dd,fieldset,input[type=radio],input[type=checkbox],input[type=range],pre {
    margin: 0;
    padding: 0;
}/*<blockquote> 标签定义摘自另一个源的块引用；<q>标记短的引用。
    目前所有主流浏览器都不支持 <menu> 标签。
    dir目录列表,不赞成使用 dir 元素！
    fieldset 元素可将表单内的相关元素分组。所有浏览器都支持 <fieldset> 标签。
    legend 元素为 fieldset 元素定义标题（caption）。
    <figure> 标签规定独立的流内容（图像、图表、照片、代码等等）。
    pre 元素可定义预格式化的文本。被包围在 pre 元素中的文本通常会保留空格和换行符。而文本也会呈现为等宽字体。*/

ul,
menu,
dir,
ol,
legend,
fieldset,
input,
input[type=password],
input[type=search],
isindex,
textarea,
input[type=hidden],
input[type=image],
input[type=file],
input[type=radio],
input[type=checkbox],
input[type=range],
input[type=button],
input[type=submit],
input[type=reset],
button {
    padding: 0;
}

input[type=search],
input[type=button],
input[type=submit],
input[type=reset] {
    -webkit-appearance: none;/*移除iOS原生控件样式,解决下无法正常渲染按钮的问题。*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}

cite,
var,
address,
em {
    font-style: normal;
}

strong {
    font-weight: 400;
}

a:-webkit-any-link {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
iframe {
    border: 0;
}

ol,
ul {
    list-style: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}

select,
button,
input {
    color: inherit;
}
p,span{
    display: inline-block;
    white-space: nowrap;/*强制文字不换行*/
    text-overflow: ellipsis;
    overflow: hidden;
    max-width:90%;
}
html {
    -webkit-text-size-adjust: none;/*当样式表里font-size<12px时，中文版chrome浏览器里字体显示仍为12px，这时可以用 html{-webkit-text-size-adjust:none;}*/
}

html {
    font-size: 100px;
}

body {
    font: 14px/1.5 Arial, "Microsoft Yahei";
    min-width: 320px;
    max-width: 480px;
    margin: 0 auto;
    color: #4b4b4b;
    background-color: #efefef;
    position: relative;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 -65px;
    -webkit-user-select: none;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
li,
p {
    margin: 0;
}



/*@media only all and (max-width:640px) {

    *//* styles for iPhone/Android landscape (and really narrow browser windows) *//*
    body,
    input,
    textarea {
        font-size: 14px;
    }

}*/

/*@media screen and (min-width:240px){
    *//*body{font-size:12px;}*//*
    .xg-grid img{height:99px;}
}
@media screen and (min-width:320px){
    *//*body{font-size:12px;}*//*
    .xg-grid img{height:99px;}
} *//*将12px调整到14px*//*
@media screen and (min-width:360px){
    *//*body{font-size:14px;}*//*
    .xg-grid img{height:123px;}
}
@media screen and (min-width:375px){
    *//*body{font-size:14px;}*//*
    .xg-grid img{height:123px;}
}
@media screen and (min-width:414px){
    *//*body{font-size:16px;}*//*
    .xg-grid img{height:150px;}
}
@media screen and (min-width:720px){
    *//*body{font-size:18px;}*//*
    .xg-grid img{height:210px;}
}
@media screen and (min-width:800px){
    *//*body{font-size:22px;}*//*
    .xg-grid img{height:240px;}
}
@media screen and (min-width:1024px){
    *//*body{font-size:24px;}*//*
    .xg-grid img{height:270px;}
}*/
/* end */
em {
    font-style: normal;
}

.clearfix {
    zoom: 1;/*Zoom属性是IE浏览器的专有属性， 它可以设置或检索对象的缩放比例。zoom:1能够比较神奇地解决ie下比较奇葩的bug。如外边距（margin）的重叠，浮动的清除，触发ie的 haslayout属性等等。*/
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.extra {
    position: relative;
}

.hidden {
    overflow: hidden;
}

img{
    border: none;
    vertical-align: middle;
}

.hide{display: none!important;}
/* noscript start */

#noscript {
    background: #EA6201;
    width: 100%;
    color: #fff;
    text-align: center;
    border-top: 1px solid #cf5702;
    padding: 5px 0px;
}

/* header start */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
    overflow: hidden;
    height: .45rem;
    line-height: .45rem;
    padding-left: 0.1rem;
    background-color:#221D23;
    background-size: cover;
}
.header img{
    height: .3rem;
}
header .icon {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    width: .6rem;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto .25rem;
    text-align: center;
    color: #0072bc;
}

header .icon-search {
    right:.9rem ;
    background-image: url(../images/search.png);
}
header .icon-clock {
    right: .5rem;
    background-image: url(../images/clock.png);
}
header .icon-download {
    right: 0;
    background-image: url(../images/download.png);
}

header .icon-cctv{
    width: 1.1rem;
    background-image: url(../img/cctv.com.fw.png);
}

header h1 {
    display: inline-block;
    width: 100%;
    font-size: 1.5em;
    font-weight: normal;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

/*common css*/
.container {
    min-height: 320px;
    padding-top: .45rem;
    padding-bottom: 64px;
}

.ao-title {
    display: -webkit-box;
    display: flex;
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    font-size: 16px;
    /*border-bottom: 2px solid #000;*/
    color: #000;
    background-image: url(../img/trophy-title.png);
    background-repeat: no-repeat;
    background-position: 0.07rem center;
    background-size: auto 60%;
}

.ao-title-topic {
    background-image: url(../img/topic-title.png);
}

.ao-title-trophy {
    background-image: url(../img/trophy-title.png);
}

.ao-title-childwar {
    background-image: url(../img/child-war-title.png);
}

.ao-title-worldwar {
    background-image: url(../img/world-war-title.png);
}

.ao-title-cctv {
    background-image: url(../img/cctv-title.png);
    background-size: auto;
    padding-left: 75px;
}

.ao-title-local {
    background-image: url(../img/local-title.png);
}

.ao-grid {
    padding-left: 0.07rem;
}

.ao-grid li {
    float: left;
    width: 50%;
}

/*.ao-grid li:nth-of-type(2n) img {
    border-left: 1px solid #e7e7e7!important;
}*/

.ao-grid a {
    display: block;
    margin: 0 .10rem;
}

.ao-grid img {
    display: block;
    width: 100%;
}

.ao-grid p {
    height: .28rem;
    line-height: .28rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ao-list .ao-list-item {
    display: -webkit-box;
    display: -moz-box;
    padding-bottom: .12rem;
}

.ao-list .ao-list-thumb {
    width: 127px;
    margin-right: .12rem;
}

.ao-list .ao-list-thumb img {
    display: block;
    max-width: 127px;
    max-height: 100%;
}

.ao-list .ao-list-info {
    -webkit-box-flex: 1;
-moz-box-flex: 1;
}

.ao-list .ao-list-info h3 {
    padding-bottom: .07rem;
    line-height: 22px;
    font-size: 16px;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ao-list .ao-list-info p {
    line-height: .15rem;
    color: #606060;
    display: -webkit-box;
    display: -moz-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
}

.ao-options {
    display: -webkit-box;
    display: flex;
}

.ao-options-item {
    display: block;
    /*margin-top: -15px;*/
    width: 50%;
    /*height: 20px;*/
    height: .34rem;
    line-height: .34rem;
    /*border-radius: .06rem;*/
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    font-size: 12px;
    text-align: center;
    color: #BE9546;
}
.ao-options-item span{
    display: inline-block;
    line-height: 34px;
    /*padding-top: 5px;*/
    /*height: 20px;*/
}
.ao-options-item img{
    width: 20px;
    height: 20px;
    padding-top: 7px;
    /*margin-bottom:  2px;*/
    vertical-align: top;

}

.ao-options-change {
    background: url("../img/huan.png");
    background-repeat: no-repeat;
    background-position:18.5% center;
    background-size: auto 70%;
}
.ao-options-more {
    background: url("../img/icon-bottom03.png");
    background-repeat: no-repeat;
    background-position:26.5% center;
    background-size: auto 70%;
}

.ao-options-item:first-child {
    margin-right: .2rem;
}

.module {
    overflow-y: hide;
    height: auto;
    margin-bottom: 10px;
    background: #fff;
    border-bottom: 1px solid #e7e7e7;
}

/*喇叭*/
.xg-active{
    height: 28px;
    line-height: 28px;
    background-color: #fff;
    border-bottom:1px solid #bbb;
}
.xg-active img{
    /*position: absolute;*/
    float: left;
    padding:3px 5px 0 0;
    width: 22px;
    height: 22px;
}
.xg-active p{
    display: inline-block;
    white-space:normal;
}

/*滚动图*/
.home-banner img {
    display: block;
}

.home-tip {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: .27rem;
    line-height: .27rem;
    color: #fff;
    /*background-color: rgba(0, 0, 0, 0.7);*/
}

.home-tip-text {
    width: 60%;
    padding-left: .12rem;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*孝感频道*/
/*.live {
    display: flex;
    display: -webkit-box;
    padding: 5px 14px 0 5px;
}*/

.xg-channel .ao-title {
    background-image: url("../images/channel.png");
}
.xg-channel .ao-grid{
    padding-right: 0.07rem;
}

.live-item {
    display: flex;
    display: -webkit-box;
    height: 72px;
    /*font-size: 12px;*/
    line-height: 16px;
    margin-top:10px;
    padding-bottom: .1rem;
    border-bottom: 1px solid #dadada;
}

.live-img {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    width: 1.5rem;
    height: 100%;
    margin-left: .2rem
}

.live-img img {
    display: block;
    height: 100%;
}

.live-name {
    border-bottom: 1px solid #fff;
    width: 55%;
    /*-webkit-box-flex: 1;*/
    /*-moz-box-flex: 1;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;//强制文字不换行*/
    /*overflow: hidden;*/
}
.live-name div{
    width:100%;
    height: 36px;
    line-height: 20px;
    overflow: hidden;
    margin-bottom: 16px;
}
.live-name img{
    display: inline-block;
    width: 0.2rem;
    margin-left: .6rem;
    vertical-align: top;
}
.live-name span{
    display: inline-block;
    line-height: 20px;
    color: #999;
}
.white{
    height: 2px;
    background-color: #fff;
    position: relative;
    top: -1px;
    left: 0;
}
.live-more {
    text-align: right;
}

.live-more a {
    display: inline-block;
    padding: 3px 0 3px 7px;
    color: #ff1200;
}
/*孝感直播*/
.xg-live{
    /*margin: 0 0 0.05rem 0;*/
    padding: 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e7e7e7;
}
/*时事资讯*/
.newsletter .ao-title{
    background-image: url("../images/newsletter.png");
}
.newsletter li{
    margin-bottom: 10px;
    border-right: 0.07rem solid #fff;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

.newsletter .ao-grid{
    /*padding: 0;*/
}
.newsletter li a{
    margin: 0;
    /*padding-top: .2rem;*/
}
.newsletter li a p{
    padding-left: .1rem;
    height: 20px;
    line-height: 24px;
}
.newsletter li a span{
    display: block;
    padding-left: .1rem;
    font-size: 12px;
    color: #bbb;
    margin-top: -3px;
    /*line-height: 28px;*/
}

.newsletter .ao-options {
    /*padding: 0.07rem .2rem .1rem;*/
}

/*名栏连载*/
.series .ao-title{
    background-image: url("../images/series.png");
}
.ao-title-series{
    position: relative;
    left: 0;
    top: 0;
}
.ao-title-series span{
    position: absolute;
    right: 0;
    padding-right: 35px;
    font-size: 12px;
    color: #cbcbcb;
}
.ao-title-series img{
    position: absolute;
    width: 20px;
    top: 5px;
    right: 0;
    padding-right: .1rem;
}
.series .ao-grid{
    padding: 0 .035rem 0;
}
.series li{
    width:33.333% ;
}
.series li a{
    margin-left: .035rem;
    margin-right: .035rem;
}
.series li a img{
/*    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;*/
}
.series li a p,.series li a span{
    width: 100%;
    text-align: center;
}
.series li a span{
    display: inline-block;
    color: plum;
    font-size: 10px;
}

/*体育快报*/
.sports .ao-title{
    background-image: url("../images/sports.png");
}
/*娱乐八卦*/
.entertainment .ao-title{
    background-image: url("../images/entertainment.png");
}
/*爆笑短片*/
.short .ao-title{
    background-image: url("../images/short.png");
}
/*原创精华*/
.original .ao-title{
    background-image: url("../images/original.png");
}
/*少儿天地*/
.juvenile .ao-title{
    background-image: url("../images/juvenile.png");
}
/*综艺世界*/
.variety .ao-title{
    background-image: url("../images/variety.png");
}

/*返回顶部*/
.m-sideBar {
    right: 6px;
    bottom: .8rem;
    z-index: 1001;
}
.po-fixed {
    position: fixed;
}
.m-sideBar .m-goTop {
    display: block;
    color: #fff;
    width: 45px;
    height: 45px;
    text-align: center;
    margin-top: 5px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.7);
}
.m-sideBar .m-goTop .c-glyphicon-arrowUp {
    top: 2px;
    padding-top: 6px;
}
@font-face {
    font-family: 'iconography';
    src: url('http://static.iqiyi.com/ext/common/iconography/iconfont.eot');
    src: url('http://static.iqiyi.com/ext/common/iconography/iconfont.ttf') format('truetype'), url('http://static.iqiyi.com/ext/common/iconography/iconfont.svg#iconfont') format('svg')
}
.c-glyphicon {
    position: relative;
    display: inline-block;
    font-size: .13rem;
    font-family: 'iconography';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    color: #20bc22;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.c-glyphicon-arrowUp:before{
    content: "\e60c";
    color: #fff;
    font-size: 20px;
}
.m-sideBar span {
    margin-top: -5px;

    font-size: 10px;
    display: block;
}

/* footer start */
.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 90;
    height:54px;
    text-align: center;
    color: #fff;
    background-color: #221D23;
}

.footer .options {
    display: -webkit-box;
    display: flex;
    width: 100%;

    padding: .07rem .1rem;
}
.footer .options img{
    width: 36px;
    height: 36px;
    padding-top: 4px;
}
.footer .options p{
    padding-left: .1rem;
    text-align: left;
    color: #339933;
    font-size: 14px;
}
.footer .options p span{
    color: #fff;
    font-size: 11px;
    opacity: .7;
}
.footer .options a {
    position: absolute;
    display: inline-block;
    right: 24px;
    top: 11px;
    width: 60px;
    height: 20px;
    line-height: 20px;
    border-radius: 6px;
    padding: 6px 0px;
    text-align: center;
    background-color: #00CC00;
    color: #000;
    font-size: 14px;
}
.footer .options div {
    width: 22px;
    height: 22px;
    background-image: url(../images/close_icon.png);
    background-position: 50%;
    background-size: 13px;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 16px;
}
.waring-to {
    width: 100px;
    margin: 0 auto;
    color: #969696;
    background: #efefef;
    position: relative;
    z-index: 5;
}