@font-face {
    font-family: 'flyer_0_Font_2_TYPE_0_ID_19_RAN_1472612689';
    src: url('http://150047.s50d.faiusrd.com/76/119/ADIIABBMGAAgqp2ZvgUosv6Ctgc?v=20160831112738')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'flyer_0_Font_8_TYPE_0_ID_7_RAN_1472636552';
    src: url('http://150047.s50d.faiusrd.com/76/119/ADIIABBMGAAgktOavgUo-IfIyQM?v=20160901144052')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'flyer_0_Font_9_TYPE_0_ID_7_RAN_1472636817';
    src: url('http://150047.s50d.faiusrd.com/76/119/ADIIABBMGAAgktOavgUoyPS0mwc?v=20160901144052')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'flyerFont_0_96788';
    src: url('http://150047.s50d.faiusrd.com/76/105/ADIIABBMGAAgtbP4ugUoxOmh0wQ?v=')  format('truetype');
    font-weight: normal;
    font-style: normal;
}