.main{
    width: 100%;
    /*height: calc(100% - 3rem);*/
    background: url("../../img/card/bg2.jpg") no-repeat center;
    background-size: 100% 100%;
    margin-top: -1px;
    position: relative;
    padding: 0 0 0.5rem 0;
}
#cardBox{
    width: 300px;
    height: 270px;
    /*border: solid 1px red;*/
    position: relative;
    margin:0 auto;
}
#cardBox ul{
    position: relative;
    height: 270px;
}
#cardBox li{
    position: absolute;
    width: 0;
    height: 0;
    z-index: 0;
    cursor: pointer;
    overflow: hidden;
    top: 20px;
    left: 10px;
}
#cardBox li img{
    width: 100%;
    height: 100%;
    vertical-align: top;
    float: left;
}
.hint{
    text-align: center;
    color: #FFFFFF;
}
.btn{
    width: 4.5rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: #FFFFFF;
    background: rgb(255 , 78 , 0);
    margin:0.2rem auto;
    border-radius: 0.1rem;
    -webkit-tap-highlight-color: transparent;
    /*box-shadow: 0 0.1rem 0.01rem #666;*/
}
.btn:active{
    background: rgb(241 , 44 , 9);
}
.rule{
    text-align: center;
    color: #FFFFFF;
}
.rule span{
    padding-bottom: 0.05rem;
    border-bottom: solid 1px #FFFFFF;
    -webkit-tap-highlight-color: transparent;
}
/*活动规则*/
.conBox{
    position:fixed;
    top:0;
    left:0;
    z-index:10;
    width: 100%;
    height: 100%;
    background: rgb(0 , 0 , 0);
    padding: 0.5rem;
}
.conDiv{
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../../img/card/bj.png") no-repeat center;
    background-size: 100% 100%;
    padding: 0.5rem;
}
.con{
    padding-right: 0.4rem;
    line-height: 2rem;
    color: #fff;
    overflow: hidden;
}
.delete{
    position: relative;
    width: 100%;
    height: 0.6rem;
}
.deleteIcon{
    position: absolute;
    top: 0;
    right: 0;
    width: 0.6rem;
    height: 0.6rem;
    background: url("../../img/card/close-icon.png") no-repeat center;
    background-size: 100% 100%;
}
section h3{
    color: #ffa300;
    font-weight: 100;
    line-height: 0.5rem;
    font-family: 'jianzhiyi';
}
section p{
    color: #FFFFFF;
    line-height: 0.5rem;
}
.slimScrollDiv{
    height: 85%!important;
    top: 0;
}