<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,minimum-scale=1,user-scalable=0">
    <meta name = "format-detection" content="telephone = no" />
    <meta name = "format-detection" content="email = no" />
    <link href="css/commonBargain.css" type="text/css" rel="stylesheet">
    <link href="css/bargain.css" type="text/css" rel="stylesheet">
    <title>圣诞手机大砍价</title>
</head>
<body>
    <div class="bgWhite">
        <img class="imgWidth100" src="img/bargain/kk1612070023.jpg">
        <!--倒计时-->
        <header class="fs12">
            <div class="time">
                <div class="time-top fs14"><span id="now">00/00/00</span>&nbsp;&nbsp;&nbsp;&nbsp;剩余时间</div>
                <div class="time-bottom flex">
                    <div class="time-icon"><span id="rH">00</span>时</div>
                    <div class="time-icon"><span id="rM">00</span>分</div>
                    <div class="time-icon"><span id="rS">00</span>秒</div>
                </div>
            </div>
        </header>
        <!--手机信息-->
        <div class="phone flex">
            <div>
                <img id="goodImg">
            </div>
            <div class="fs12 lineP">
                <p><span class="fs16" id="goodsName"></span>（<span class="colorG" id="entryCount">0人参与</span>/<span class="colorR" id="successCount">0人成功</span>）</p>
                <p id="goodsDetail"></p>
                <p id="description"></p>
                <p>原价：￥<span class="originalPrice">0</span>&nbsp;&nbsp;&nbsp;&nbsp;库存：<span class="colorR" id="remainCount">0</span></p>
                <p>目标：<span class="fs20 colorR discountPrice">￥0</span>&nbsp;&nbsp;&nbsp;&nbsp;（<span class="fs20 colorR" id="discountRate">0</span>折）</p>
            </div>
        </div>
        <!--砍价进度-->
        <div class="rate-box">
            <div class="rate">
                <div class="rate-inner"></div>
            </div>
            <div class="rate-div fs14 flex">
                <p>原价：￥<span class="originalPrice">0</span></p>
                <p class="colorR">目标：<span class="discountPrice">￥0</span></p>
            </div>
            <img class="fail" src="img/bargain/kk1612070037.png">
        </div>
        <!--用户信息-->
        <div class="user-div fs12">
            <div class="user-box flex">
                <div class="flex">
                    <div class="userImg-box">
                        <img class="imgWidth100" id="userImg" src="img/bargain/gg01.jpg">
                    </div>
                    <span class="fs16 userName">$!{nickname}</span>
                </div>
                <div class="userM fs14"><span class="colorY bargainNum">0</span>人帮砍</div>
            </div>
            <div class="user-box fs14 lineP">
                <p>已有<span class="colorR bargainNum">0</span>位小伙伴帮砍价了，已砍掉<span class="colorR" id="bargaining">0.00</span>元</p>
                <p>数量有限，想尽快收入囊中，剩余的分享出去邀请小伙伴来帮你砍掉吧！</p>
            </div>
            <div class="flex fs14">
                <div class="btn btnFresh" onclick="location.reload(true);">刷新</a></div>
                <div class="btn btnShare" onclick="window.location.href='bargain.do?op=listGoods&a=1&aw=1'">继续参与</div>
            </div>
        </div>
        <!--亲友出刀-->
        <div class="relatives-box" id="relativesBox">
            <img class="imgWidth100" src="img/bargain/kk1612070019_1.jpg">
            <div class="relative-title fs14">亲友出刀</div>
            <div class="relative-list" id="relativeList">
                <!--
                <div class="flex relative fs12">
                    <div class="flex">
                        <div class="reOne">
                            <img class="imgWidth100" src="img/bargain/gg01.jpg">
                        </div>
                        <p class="reTwo"><span class="colorR">wy</span>帮忙砍了<br>2016/09/02 12:20</p>
                    </div>
                    <p class="reThree colorR fs20">25元</p>
                </div>
                -->
            </div>
            <img class="imgWidth100" src="img/bargain/kk1612070022_1.jpg">

        </div>
        <!--活动细则-->
        <div class="activity-box">
            <img class="imgWidth100" src="img/bargain/kk1612070019_1.jpg">
            <div class="activity-title fs14">活动细则</div>
            <div class="activity-list fs12">
                <ol class="activity-ol">
                    <li>活动时间：2016年12月15日00:00——2016年12月25日24:00</li>
                    <li>本活动仅限锡林郭勒移动用户参与砍价和办理优惠价购机。</li>
                    <li>邀请好友（须关注锡林郭勒移动微厅公众号）点击进入砍价界面点击“帮忙砍一刀”。</li>
                    <li>用户砍价成功后须本人在次日起3日之内到当地第一营业厅办理购机手续，出示身份证和砍价成功页面并接受主叫号码回拨测试，在缴纳相关费用并承诺保底消费及保底时间后办理。</li>
                    <li>每个手机号只能购买一部砍价手机，砍价成功后不能重复参与。砍价失败用户可继续重新参与其他场次的砍价，之前好友帮助砍价的额度清零。</li>
                    <li>本活动最终解释权归内蒙古移动锡林郭勒分公司所有。</li>
                </ol>
            </div>
            <img class="imgWidth100" src="img/bargain/kk1612070022_2.jpg">
        </div>
    </div>
    <!--分享弹窗-->
    <div class="popUp hide" id="sharePop" onclick="$('#sharePop').addClass('hide');">
        <img class="shareImg" src="img/bargain/hx10240019.png">
    </div>
    <script>
            document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
        </script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="js/bwrdfr-i.js"></script>
    <script src="js/bwrdfr.js"></script>
    <script src="js/json-mini.js"></script>
    <script src="js/jquery-1.10.1.min.js"></script>
    #parse("/global/alert.vm") 
    <script>
        var activityId = '$!{activityId}'; ##活动ID
        var opId = '$!{openid}';
        var now = '$!{nowDate}';  ##当前时间
        var aId = '$!{aid}';##微信账号id
        var bId = '$!{bargainRecId}';##砍价报名记录id
        var aw = '$!{aw}';
        var startTime = "$!date.format('yyyy/MM/dd HH:mm:ss',$!nowDate)";
        var state = '$!{state}';

        //用户头像
        var imgurl = "$!{headimgurl}";
        if (imgurl != "") {
            $("#userImg").attr("src" , "$!{headimgurl}");
        }
    </script>
    <script src="js/commonBargain.js"></script>
    <script src="js/wxShare.js"></script>

    <script src="js/bargainFail.js"></script>
<script>
            if(bId == ""){
                //失败的状态
                if(state == 3){
                    $(".fail").attr('src' , 'img/bargain/kk1612070037.png');//失败页的失败图片
                }else{
                    $(".fail").attr('src' , 'img/bargain/kk1612070036.png');
                }
                //结束日期
                $('#now').text(getCurrentDate("$!{goodsInfo.endtime}"));

                    //当天剩余时间倒计时
                    //var current = new Date(now + ' GMT+8');
                    var current = new Date(startTime);
                    var nowTime = Date.parse(current);
                    var endtime = new Date("$!{goodsInfo.endtime}");
                    var remain = (endtime - nowTime) / 1000;
                    setInterval(function(){
                        remain--;
                        count(remain);
                    } , 1000);

                    //手机图片
                    var imgurl = "$!{goodsInfo.imgurl}";//产品图片
                    if (imgurl != "") {
                        $("#goodImg").attr("src" , imgurl);
                    }else {
                        $("#goodImg").attr("src" , "img/bargain/sj1213001.png");
                    }
                    //手机信息
                    $('#goodsName').text("$!{goodsInfo.name}");//产品名
                    $('#entryCount').text("$!{goodsInfo.entryCount}" + '人参与');//参与人数
                    var successCount = "$!{goodsInfo.succCount}";
                    $('#successCount').text(successCount + '人成功');//成功人数
                    $('#goodsDetail').text("$!{goodsInfo.goodsDetail}");//产品详情
                    $('#description').text("$!{goodsInfo.description}");//产品套餐描述
                    var originalPrice = $!{goodsInfo.originalPrice} / 100;
                    $('.originalPrice').text(originalPrice);//原价
                    $('#remainCount').text($!{goodsInfo.remainCount});//剩余库存
                    var discountPrice = $!{goodsInfo.discountPrice} / 100;
                    $('.discountPrice').text('￥' + discountPrice);//折扣价
                    $('#discountRate').text($!{goodsInfo.discountRate});//折扣率
                    $('.bargainNum').text($!{goodsInfo.bargainNum});//帮砍价人数

                    //    进度条
                    $('.rate-inner').animate({width: 0 + '%'});
                    $('#relativeList').append('<p class="cenP fs14">暂无亲友列表哟~</p>');
                    $('#lookMore').addClass('hide');
            }else{
                getPhoneInfo();
                getRelationList();
            }
    </script>
</body>
</html>