<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	    <meta name = "format-detection" content="telephone = no" />
	    <meta name = "format-detection" content="email = no" />
	    <link rel="stylesheet" type="text/css" href="css/wlcb/product/product_description.css"/>
		<title>流量统付</title>
		<script type="text/javascript">
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
		</script>
	</head>
	<body>
		<div class="social_security_wd traffic_dispatch_wd">
			<h1>流量统付</h1>
		</div>
		<div class="text traffic_wd">
			<p>个人客户通过2G/3G/4G网络（不含WLAN）访问互联网时，产生的数据流量对个人用户全部或部分减免，由集团客户后向为其统付。</p>
		</div>
		<div class="text_01">
			<h1>流量统付业务分类：</h1>
			<div class="hr_3"></div>
			<div class="table_wd">
				<table id="traffic_wd">
					<tr>
						<th colspan="3">业务分类</th>
						<th class="table_05">业务说明</th>
					</tr>
					<tr>
						<td rowspan="5" class="table_04"><p>个人手机号码</p></td>
						<td rowspan="3">定向</td>
						<td>不限用户，全额统付</td>
						<td>集团客户指定IP或域名，<span class="red_wd bold_wd">所有用户</span>通过移动网络访 问该指定IP或域名时产生的数据流量费用<span class="red_wd bold_wd">全部减免</span>，由集团客户统一付费。</td>
					</tr>
					<tr>
						<td>制定用户，全额统付</td>
						<td>集团客户指定IP或域名，<span class="red_wd bold_wd">所有用户</span>通过移动网络访 问该指定IP或域名时产生的数据流量费用<span class="red_wd bold_wd">全部减免</span>，由集团客户统一付费。</td>
					</tr>
						<tr>
						<td>制定用户，全额统付</td>
						<td>集团客户指定IP或域名，<span class="red_wd bold_wd">所有用户</span>通过移动网络访 问该指定IP或域名时产生的数据流量费用<span class="red_wd bold_wd">减免指定额度</span>，由集团客户统一付费。</td>
					</tr>
					<tr>
						<td rowspan="2">通用</td>
						<td>制定用户，全额统付</td>
						<td>集团客户为指定用户统付使用移动网络产生的全部 数据流量费用。</td>
					</tr>
					<tr>
						<td>制定用户，全额统付</td>
						<td>集团客户为指定用户定额支付流量费用。用户使用 移动网络时，优先使用个人流量包的免费流量，超 出部分由用户自行支付。</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="text_01">
			<h1>流量统付两种支付模式：</h1>
			<div class="hr_3"></div>
			<div class="one_wd">
				<p><span class="circle_01">1</span>企业流量池 </p>
				<p class="text_p_01">集团客户根据其为个人客户订购的个人流量包套餐金额和订购数量支付流量费用。</p>
			</div>
			<div class="one_wd">
				<p><span class="circle_01">2</span>个人流量包</p>
				<p class="text_p_01">呼叫详细话单在线保存一年以上，录音文件在线保存6个</p>
			</div>
		</div>
		<div class="text_01">
			<h1>流量统付业务折扣管理：</h1>
			<div class="hr_3"></div>
			<div class="one_wd">
				<p><span class="circle_01">1</span>定向流量 </p>
				<p class="text_p_01">当月消费不足5万的集团客户，原则上不给予折扣；当月消费在5万以上但不足15万的集团客户，最低给予9折优惠；当月消费在15万以上但不足30万的集团客户，最低给予8折优惠；当月消费在30万及以上的集团客户，最低给予7折优惠。</p>
			</div>
			<div class="one_wd">
				<p><span class="circle_01">2</span>通用流量</p>
				<p class="text_p_01">当月消费不足5万的集团客户，不给予折扣；当月消费在5万以上但不足15万的集团客户，给予9.9折；当月消费在15万以上但不足30万的集团客户，最低给予9.7折；月消费在30万及以上的集团客户，给予9.5折优惠。</p>
			</div>
			<div class="one_wd">
				<img src="img/wlcb/product/bg_001.jpg" class="img_001"/>
			</div>
			<div class="hr_5"></div>
		</div>
	</body>
</html>
